.navItems-li{
    display: inline-block;
    text-decoration: none;
    padding-left: 3rem;
    font-size: 1.1rem;
    color: white;
}
.navItems-li:hover{
    color: rgb(246, 65, 65);
    transition: 1s;
}